$nombre_choise: 3;
$nombre_letter : 8;
$time_animation : 600ms;

$border_radius:(
    choises : 1rem,
    button : 2rem,
);

$font_familly_global: 'Roboto', sans-serif; 

$colors :(
    color-primary: #ed1e79,
    color-secondary: #7888fc,
    color-tertiary: #99E2D0,
    color-white: #fff,
    color-black: #000,
);


$font_size :(
    bigHeaders : 3.4rem,
    logo: 2em,
    button: 1em,
    icons: 1.5em,
    headers: 1.4em,
    paragraphes: .8em,
    legends: 0.8em,
);

$font_sizeDocument :(
    bigHeaders : 35pt,
    headers: 20pt,
    paragraphes: 8pt,
    legends: 6pt,
);

$padding:(
    body: 0 2rem 0 2rem,
    card-description: 1rem,
    class: .3rem,
);