.btn{
    cursor: pointer;
    font-size: map-get($map: $font-size, $key: button);
    background-color: map-get($map: $colors, $key: color-white);
    color: map-get($map: $colors, $key: color-secondary);
    border-radius: .5rem;
    border: none;
    padding: 1rem;
}