.cardDplacement{
    position: relative;
    @include flex(row,wrap,left);
    //background-color: lighten($color: map-get($map: $colors, $key: color-secondary), $amount: 26);
    box-sizing: border-box;
    border-radius: 1rem;
    margin: 2% 0;
    > h2{
        width: 100%;
    }
    > hr{
        width: 100%;
        border: 1px solid map-get($map: $colors, $key: color-secondary);
    }
    &__champ{
        &:last-of-type{
            flex-direction: row-reverse;
            align-items: center;
            > label{
                box-sizing: border-box;
                width: 70%;
            }
            > input{
                box-shadow: none;
                box-sizing: border-box;
                width: 25%;
                height: 1.5rem;
            }
        }
    }
    &__btnCloseCard{
        cursor: pointer;
        position: absolute;
        top: 3rem;
        right: 1rem;
    }
}