.cardDplacement{
    position: relative;
    @include flex(row,wrap,left);
    background-color: lighten($color: map-get($map: $colors, $key: color-white), $amount: 25);
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 2%;
    margin: 2%;
    > h2{
        width: 100%;
    }
    &__champ{
        > input{
            border: 2px solid lighten($color: map-get($map: $colors, $key: color-primary), $amount: 30);
        }
        &:last-of-type{
            flex-direction: row-reverse;
            align-items: flex-end;
            > label{
                box-sizing: border-box;
                width: 70%;
            }
            > input{
                box-sizing: border-box;
                width: 25%;
                height: 2.5rem;
            }
        }
    }
    &__btnCloseCard{
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}