@page { size: auto;  margin: 0mm; }

body{
    margin: 0;
    padding: map-get($map: $padding, $key: body);
    font-family: $font_familly_global;
    background-color: lighten($color: map-get($map: $colors, $key: color-secondary), $amount: 25);
    -webkit-print-color-adjust:exact;
}

table{
    border-collapse: collapse;
    width: 100%;
}

thead{
    background-color: lighten($color: map-get($map: $colors, $key: color-primary), $amount: 20);
}

td{
    border: 1px solid map-get($map: $colors, $key: color-black);
    padding: .4rem;
}

h1{
    color: map-get($map: $colors, $key: color-secondary);
}