<h1>Note de frais</h1>
<img src="./assets/image/logo.png" alt="LogoWebcup">
<div class="document__header">
    <div class="document__header__globalInfo">
        <p>Nom : <strong></strong></p>
        <p>Prénom : <strong></strong></p>
        <p>Adresse : <strong></strong></p>
        <p>Code postal : <strong></strong></p>
        <p>Ville : <strong></strong></p>
        <p>Distance entre votre domicile et votre lieu de travail (km) : <strong></strong></p>
        <p><i>Règlement par virement bancaire</i></p>
    </div>
    <div class="document__header__CV">
        <div>
            <h2>Barême de remboursement 2022</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Nombre de CV</td>
                    <td>Moins 5000 Km</td>
                    <td>Choix du nombre de chevaux fiscaux</td>
                </tr>
            </thead>
            <tbody> <!-- Body du tableau -->
                <tr>
                    <td>3 CV</td>
                    <td>0,502</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4 CV</td>
                    <td>0,502</td>
                    <td></td>
                </tr>
                <tr>
                    <td>5 CV</td>
                    <td>0,502</td>
                    <td></td>
                </tr>
                <tr>
                    <td>6 CV</td>
                    <td>0,502</td>
                    <td></td>
                </tr>
                <tr>
                    <td>7 CV et plus </td>
                    <td>0,502</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="document__table">
    <table>
        <thead> <!-- En-tête du tableau -->
            <tr>
                <td>Date</td>
                <td>Objet du déplacement</td>
                <td>Adresse de départ</td>
                <td>Adresse d'arrivée</td>
                <td>Distance parcourue (km)</td>
            </tr>
        </thead>
        <tbody> <!-- Body du tableau -->
            <tr>
                <td>Michelle</td>
                <td>26 ans</td>
                <td>États-Unis</td>
                <td>26 ans</td>
                <td>États-Unis</td>
            </tr>
            <tr>
                <td>Michelle</td>
                <td>26 ans</td>
                <td>États-Unis</td>
                <td>26 ans</td>
                <td>États-Unis</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="document__footer">
    <div class="document__footer__bilan">
        <p>Total distance parcourue aller/retour (km) : <strong>${totalDistanceParcouru}</strong> km</p>
        <p>Total distance entre domicile et lieu de travail aller/retour (km) :  <strong>${totaldistancesDomicileLieuTravail}</strong> km</p>
        <p>Distance indemnisée (km) : <strong>${totalDistanceParcouruIndenisee}</strong> km</p>
        <p>Vous serez indénisée de : <strong>${totalIndenisee}</strong> €</p>
    </div>
    <div class="document__footer__signature">
        <p>Signature du demandeur</p>
    </div>
</div>
<button class="document__btnPrint">Imprimer</button>