#validationformulaire{
    display: none
}

.validationformulaire{
    z-index: 3;
    @include flex(row,nowrap,center);
    justify-content: center;
    background-color: rgba($color: map-get($map: $colors, $key: color-black), $alpha: 0.5);
    position: fixed;
    top : 0;
    left : 0;
    bottom : 0;
    right : 0;
    width: 100%;
    height: 100%;
    &__main{
        @include flex(column,nowrap,center);
        justify-content: center;
        background-color: map-get($map: $colors, $key: color-white);
        width: 45%;
        height: 25%;
        padding: 3rem;
        &__title{
    
        }
        &__body{
    
        }
    }
}